body {
}

p.title{
    font-size:3.0em;
}

a:link{
    color:black;
}

a:visited{
    color:black;
}

a:hover{
    text-decoration:none;
    color: #c7d1d6;
}

a:active{
    text-decoration:none;
}

.title a:hover{
    color:black;
}
.title{
    margin:0;
    text-align:center;
}

#registerLink, #loginLink,#aboutLink {
    font-size:1.4em;
    text-align:center;
}

.bottom-column {
    float: none;
    display: table-cell;
    vertical-align: bottom;
}

#customNav {
    margin-top: 15px;
}
.navbar {
    min-height: 100px;
}
.navbar-brand {
    font-size: 60px;
}

.nav-header div {
        display: inline-block;
        vertical-align: bottom;
        float: none;
}
.navbar-collapse.collapse.in { 
    display: block!important; 
}
.inline-override{
    display: inline-block!important;
}

.inline-form-padding-overide{
    padding-right:8px;
}

h2#copiosis_login {
    margin-bottom: 20px;
}
.form-control-6 {
    width: 60%;
}