body {
}

p.title{
    font-size:3.0em;
}

a:link{
    color:black;
}

a:visited{
    color:black;
}

a:hover{
    text-decoration:none;
    color: #c7d1d6;
}

a:active{
    text-decoration:none;
}

.title a:hover{
    color:black;
}
.title{
    margin:0;
    text-align:center;
}

.bottom-column {
    float: none;
    display: table-cell;
    vertical-align: bottom;
}

#customNav {
    margin-top: 15px;
}
.navbar {
    min-height: 100px;
}
.navbar-brand {
    font-size: 60px;
}

.nav-header div {
        display: inline-block;
        vertical-align: bottom;
        float: none;
}
.navbar-collapse.collapse.in { 
    display: block!important; 
}
.inline-override{
    display: inline-block!important;
}

.inline-form-padding-overide{
    padding-right:8px;
}

h2#copiosis_login,h2#register-title,h2#add-item-title {
    margin-bottom:20px;
}

.login-label,.add-item-label, .transaction-label, .manage-acct-label {
    margin-top: 8px;
}

@media (max-width: 991px) {
    .add-item-label, .transaction-label, .login-label {
        text-align: center;
        margin-top: 0px;
    }
}

.login-group {
    padding-left: 0;
}

.panel-body {
    padding: 10px;
}

ul, ol
{
    margin-bottom: 0;
    padding-left: 17px;
}

.panel
{
    margin-bottom: 0;
}

.form-group {
    margin-bottom: 0;
}

#userNBR {
    color: #777;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
    padding-right: 15px;
}
#nbr-number{
    color: black;
    background-color: lightgreen;
    padding: 5px;
    margin-left: 5px;
    font-weight: bold;
    border-radius: 2px;
}
.select-box {
    width: 100%;
    border-radius: 4px;
}

.radio-inline, .radio-inline + .radio-inline {
    margin-top:10px;
    margin-bottom:10px;
}

.custom-q-mark {
    border:0px none;
    cursor: pointer;
}

select { 
    margin-top:8px;
}

textarea {
    max-width:100%;
}

#satisfaction-rating-radios {
    padding-top:20px;
}

.input_hidden {
    display:none;
}

.selected {
    background-color: #ccc;
}

#satisfaction-rating-radios label {
    display: inline-block;
    cursor: pointer;
    margin-right:14px;
}

#satisfaction-rating-radios label img {
    padding: 3px;
}

#product-provided-producer{
    white-space:nowrap; 
    margin-left:-66px;
}

@media (min-width:992px) {
    #product-provided-producer {
        margin-left: 0;
    }
}

.hidden-notes{
    display:none;
}

#add-provider-notes, #add-consumer-notes {
    cursor: pointer;
    color: #0066FF;
    font-weight: bold;
}

tbody tr {
    cursor:pointer;
}

.new-item {
    background-color:#ffd800!important;
}

.a-label {
    padding-top:10px;
    padding-right:65px;
 }

/*.no-border{
    border:0px none;
}*/
