@model Copiosis_Application.Models.TransactionModel
@if (Model.isPendingUser == true && Model.dateClosed == DateTime.MinValue)
{
    <div>
        @Html.TextBoxFor(m => m.transactionID, new { @class = "hidden", @val = Model.transactionID })
        @Html.TextBoxFor(m => m.result, new { @class = "hidden" })
        <input id="confirm" type="button" value="Confirm Transaction Details" />
        <input id="reject" type="button" value="Reject Transaction" />
        <button type="button" onclick="confirmBack()">Cancel</button>
    </div>
}
else if (Model.isPendingUser == false && Model.dateClosed == DateTime.MinValue)
{
    <div>
        <input id="updateResult" class="hidden" type="text" value="null" />
        @Html.TextBoxFor(m => m.transactionID, new { @class = "hidden", @val = Model.transactionID })
        @Html.TextBoxFor(m => m.result, new { @class = "hidden" })
        <input id="update" type="button" value="Update Transaction Details" />
        <button type="button" onclick="confirmBack()">Cancel</button>
    </div>
}