@model Copiosis_Application.Models.TransactionModel
@if (Model.isPendingUser == true && Model.dateClosed == DateTime.MinValue)
{
    <div>
        @Html.TextBoxFor(m => m.transactionID, new { @class = "hidden", @val = Model.transactionID })
        @Html.TextBoxFor(m => m.result, new { @class = "hidden" })
        <button class="btn btn-primary" id="confirm" type="button">Confirm Transaction Details</button>
        <button class="btn btn-danger" id="reject" type="button">Reject Transaction</button>
        <button class="btn btn-default" type="button" onclick="confirmBack()">Cancel</button>
    </div>
}
else if (Model.isPendingUser == false && Model.dateClosed == DateTime.MinValue)
{
    <div>
        <input id="updateResult" class="hidden" type="text" value="null" />
        @Html.TextBoxFor(m => m.transactionID, new { @class = "hidden", @val = Model.transactionID })
        @Html.TextBoxFor(m => m.result, new { @class = "hidden" })
        <button class="btn btn-primary" id="update" type="button">Update Transaction Details</button>
        <button class="btn btn-default" type="button" onclick="confirmBack()">Cancel</button>
    </div>
}