@model Copiosis_Application.Models.AddItemModel

@* Page for adding new items*@
<div class="row">
    @Html.Partial("_ItemCRUDPartial", Model)
</div>

@section Scripts {
<script type="text/javascript">
    $("#class-dropdown").change(function () {
        var currentChoice = $(this).val();
        $.ajax({
            url: "/Account/GatewayNBR/",
            type: "get",
            data: { name: currentChoice },
            success: function (result) {
                $('#suggested-gateway').val(result.defaultGateway);
            },
            error: function (result) {
                console.log("Error receiving default gateway value for: " + currentChoice);
            }
        });
    }).trigger('change');
</script>
    @Scripts.Render("~/bundles/jqueryval")
}