@model Copiosis_Application.Models.AccountManagerModel

@*<p class="message-success" hidden="hidden">@ViewBag.StatusMessage</p>*@

<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>


@Html.Partial("_ManageAccountPartial")




<script type="text/javascript">
    $(document).ready(function () {
        $('#confirm-label').hide();
        $('#confirm-pw').hide();
        $('#confirm-info').hide();
        $('#new-pw').on('keyup', function () {
            var newPwValue = $("#new-pw").val();
            var confirmPwValue = $('#confirm-pw').val();
            if (newPwValue != '') {
                $('#confirm-label').fadeIn();
                $('#confirm-pw').fadeIn();
                $('#confirm-info').fadeIn();
                $('#confirm-pw').attr('disable', false);
            } else {
                $('#confirm-label').fadeOut();
                $('#confirm-pw').fadeOut();
                $('#confirm-info').fadeOut();
                document.getElementById("confirm-pw").value = "";
            }
        });
    });
</script>
@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
}
