<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <h2 id="add-item-title">Unauthorized</h2>
        <p>You are not authorized to view this page!</p>
    </div>

</div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
}