@model List<MVCDemo.Models.AgentModel>
@{
    ViewBag.Title = "Home Page";
}
<h3>This is a demo of the agents being pulled from the db</h3>
<p>The Index() action is doing a query against the database and returning the view with a model. The model in this case is just
a list of agents with salary > 300000</p>
<ol>
    @foreach(var a in Model)
    {
        <li>@a.FirstName @a.LastName @a.Salary</li>
    }
</ol>