﻿@if (Request.IsAuthenticated)
{
    <div class="pull-right">
        <div class="btn-group">
            <a class="btn btn-primary dropdown-toggle"  data-toggle="dropdown" href="#" style="color: white">
                @User.Identity.Name
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li role="link"><a href="@Url.Action("Manage", "Account")">Manage Your Account</a></li>
                @if (Roles.IsUserInRole("ADMIN"))
                {
                    <li role="link"><a href="@Url.Action("Overview", "Admin")">Administrator Overview</a></li>
                }
                <li class="divider"></li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                }
            </ul>
        </div> 
        <span id="userNBR" class="inline-override"> Your Current NBR is:<span id="nbr-number"></span></span>
    </div>
    <script>
        $(function () {
            $.ajax({
                url: '/Account/UsersNBR/',
                type: 'GET',
                success: function (result) {
                    /* If the result.success == true then the get worked and then you grab result.nbr to get
                    * the current users NBR. You can take a look at the UsersNBR in AccountController to see what I
                    * did. It should probably have some error checking as right now it will just crash and burn if something goes wrong */
                    if(result)
                        $("#userNBR span").text(result.nbr);
                    else
                    {
                        $('#userNBR').text("Error retrieving current NBR value");
                        $('#userNBR').css('color', 'red');
                    }
                },
                error: function (result) {
                    console.log("Error receiving nbr result");
                    $('#userNBR').text("Error communicating with the database...");
                    $('#userNBR').css('color', 'red');
                }
            });
        });
    </script>
}

