﻿@if (Request.IsAuthenticated)
{
    <div class="pull-right text-right">
        <p id="userNBR" class="">Hello, <strong>@Html.ActionLink(User.Identity.Name, "Manage", "Account")</strong>, your Current NBR is:<span id="nbr-number"></span></p>
    </div>
    <script>
        $(function () {
            $.ajax({
                url: '/Account/UsersNBR/',
                type: 'GET',
                success: function (result) {
                    /* If the result.success == true then the get worked and then you grab result.nbr to get
                    * the current users NBR. You can take a look at the UsersNBR in AccountController to see what I
                    * did. It should probably have some error checking as right now it will just crash and burn if something goes wrong */
                    if(result)
                        $("#userNBR span").text(result.nbr);
                    else
                    {
                        $('#userNBR').text("Error retrieving current NBR value");
                        $('#userNBR').css('color', 'red');
                    }
                },
                error: function (result) {
                    console.log("Error receiving nbr result");
                    $('#userNBR').text("Error communicating with the database...");
                    $('#userNBR').css('color', 'red');
                }
            });
        });
    </script>
}

