@model ModelStateDictionary

@if (@Model.IsValid == false)
{
    <div class="validation-summary-errors panel panel-danger"
         data-valmsg-summary="true">
        <div class="panel-heading">
            @if (@Model.Count() <= 1)
            {
                <center><strong>Please correct the following field:</strong></center>
            }
            else
            {
                <center><strong>Please correct the following fields:</strong></center>
            }
        </div>
    </div><br />
}

